$background: #ffec00;

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.37em 0.5em;
  color: navy;
}

header {
  margin: 0;
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  background-color: $background;
  font: 1rem "Fira Sans", sans-serif;
  text-shadow: #fff 0 1 0.2em;
}
.header__title {
  color: #000;
}

#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}
