$background: #aadc14;

body {
  margin: 0;
  padding: 0;
} 
 
h1 {
  font-size: 2em;
  margin: 0.37em 0.5em;
}

header {
  margin: 0;
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  background-color: $background;
  font: 1rem "Lato", sans-serif;
  text-shadow: #000000 0 1 0.2em;
}

header > h1 {
  color: #fff;
  text-align: center;
}

#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}
 
#myPositionAccuracyText {
  width: 45px;
  height: 1.0em;
  background-color: rgba(255,255,255,.5);
  color: #fff;
  z-index: 1010;
  position: absolute;
  left: 5px;
  bottom: 74px;
  text-align: center;  
  font: 12px/20px 'Helvetica Neue',Arial,Helvetica,sans-serif;  
  color: rgba(0,0,0,.75);
  outline: 0;
}

#myPositionAccuracy {
  width: 102px;
  height: 4px;
  background-color: #000;
  color: yellow;
  z-index: 1010;
  position: absolute;
  left: 5px;
  bottom: 67px;
}
